.news-section{
  margin: 20px;
}

.mat-card{
  background-color: rgb(10, 0, 48);
}

.example-card {
  margin: 2em;
  float: left;
  width:90%;
}

.news-data-holder{
  height: 20em;
}

.news-image{
  float: left;
  width: 20em;
  height: 20em;
}

.news-desc{
  margin: 10px;
  float: right;
  width: 70%;
}

.example-header-image {
  background-size: cover;
}
