<div class="news-section">
  <h2>Latest News</h2>
  <mat-divider></mat-divider>
  <br>

  <div class="x" *ngFor="let article of news">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="{{article.imageurl}}" width="30em">
        </div>
        <mat-card-title style="padding-top: 0.25em">{{article.title}}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <div class="news-data-holder">
          <div class="news-image">
            <img src="{{article.imageurl}}" style="width: 100%">
          </div>

          <div class="news-desc">
            <p>
              {{article.body}}
            </p>
            <br>
            <h5>~ {{article.source_info.name}}</h5>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-divider></mat-divider>
        <br>
        <a href="{{article.url}}">
          <button mat-raised-button color="primary">Source</button>
        </a>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>

  <mat-divider></mat-divider>
  <br>
</div>


