/* Structure */
table {
  width: 100%;
  background-color: rgb(10, 0, 48);
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  background-color: rgb(10, 0, 48);
}

.mat-card{
  position: relative;
  background-color: rgb(10, 0, 48);
}

.main-section{
  height: 28em;
  width: 100%;
}

.logo-section{
  margin-top: 20px;
  width:100%
}


.logo-text-div{
  display: table;
  margin: 0 auto;
}

.logo-div{
  display: table;
  margin: 0 auto;
}

.search-section{
  display: table;
  margin: 0 auto;
}

.example-form-field {
  margin-right: 1em;
  width: 30em;
  background-color: inherit;
}


